<div class="list row">
  <div class="col-md-4">
    <h4>Pokemons List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let pokemon of pokemons; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivePokemon(pokemon, i)"
      >
        {{ pokemon.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <app-pokemon-details
      [viewMode]="true"
      [currentPokemon]="currentPokemon"
    ></app-pokemon-details>
  </div>
</div>
