<div *ngIf="viewMode; else editable">
  <div *ngIf="currentPokemon.name">
    <h4>Pokemon</h4>
    <div>
      <label><strong>Name:</strong></label> {{ currentPokemon.name }}
    </div>
    <div>
      <label><strong>Url:</strong></label>
      {{ currentPokemon.url }}
    </div>
  </div>
  <div *ngIf="!currentPokemon">
    <br />
    <p>Please click on a Pokemon...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentPokemon.id" class="edit-form">
    <h4>Pokemon</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentPokemon.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="url">Url</label>
        <input
          type="text"
          class="form-control"
          id="url"
          [(ngModel)]="currentPokemon.url"
          name="url"
        />
      </div>
      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentPokemon.published ? "Published" : "Pending" }}
      </div>
    </form>
    <button
      class="badge badge-primary mr-2"
      *ngIf="currentPokemon.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentPokemon.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentPokemon.name">
    <br />
    <p>Cannot access this Pokemon...</p>
  </div>
</ng-template>
